.box{
  height: 400px;
  border: 1px solid black;
  border-radius: 10px 10px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 1%;
}

.text{
  margin-top: 30px;
}

.text p{
  font-size: 20px;
}

hr{
  color: black;
}

.add{
  text-align: center;
  padding-top: 50%;
  overflow: hidden;
}

.add img:hover{
  cursor: pointer;
}
